################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lavelle.Kyanite/bin
/Lavelle.Kyanite/obj
/Testing/bin
/Testing/obj
